.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #EEDDFF;
    border: 2px solid #0d7ea0;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #ada1ba;
    cursor: pointer;

}

.card {
    width: 70%;
    padding: 6px 10px;
    background-color: bisque;
    border: 2px solid #0d7ea0;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #ada1ba;
   
}
.block-cards{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    position: relative;
    top: 5px;

    & li {
        line-height: 22px;
    }
}

.send-form__title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: brown;
}